<div class="login-container">
  <div class="login-card">
    <div class="avatar-container">
      <div class="avatar-circle">
        <mat-icon>person</mat-icon>
      </div>
    </div>
    
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="input-with-icon">
          <mat-icon>person</mat-icon>
          <input
            type="text"
            id="username"
            formControlName="username"
            class="form-control"
            placeholder="Email ID"
          >
        </div>
        <div class="error-message" *ngIf="loginForm.get('username')?.errors?.['required'] && loginForm.get('username')?.touched">
          Email ID is required
        </div>
      </div>
      
      <div class="form-group">
        <div class="input-with-icon">
          <mat-icon>lock</mat-icon>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Password"
          >
        </div>
        <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['required'] && loginForm.get('password')?.touched">
          Password is required
        </div>
        <div class="error-message" *ngIf="loginForm.get('password')?.errors?.['minlength'] && loginForm.get('password')?.touched">
          Password must be at least 6 characters
        </div>
      </div>
      
      <div class="form-options">
        <div class="remember-me">
          <mat-checkbox color="primary" formControlName="rememberMe">Remember me</mat-checkbox>
        </div>
        <div class="forgot-password">
          <a href="#">Forgot Password?</a>
        </div>
      </div>
      
      <div class="error-message login-error" *ngIf="loginError">
        {{ loginError }}
      </div>
      
      <button type="submit" class="login-button" [disabled]="loginForm.invalid || isLoading">
        <span *ngIf="!isLoading">LOGIN</span>
        <span *ngIf="isLoading">
          <mat-spinner diameter="20"></mat-spinner>
        </span>
      </button>
    </form>
  </div>
</div> 