<div class="home-container">

  <div class="home-card">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Rooms</mat-card-title>
        <mat-card-subtitle>Template using rooms</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button (click)="navigateTo('rooms')"><span>Go to rooms</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
  <br>

  <div class="home-card">
    <mat-card appearance="outlined">
      <mat-card-header>
        <mat-card-title>Chats</mat-card-title>
        <mat-card-subtitle>Template using chats</mat-card-subtitle>
      </mat-card-header>
      <mat-card-actions align="end">
        <button mat-button (click)="navigateTo('chats')"><span>Go to chats</span></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>

