.app {
  &-container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
    padding: 40px 0;
  }

  &-image {
    max-width: 400px;
  }

  &-cardHeader {
    background-image: url('https://material.angular.dev/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
}
