<mat-toolbar>
  <button mat-icon-button
          class="example-icon"
          aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Azure blob storage manager</span>

</mat-toolbar>

<router-outlet/>

<div class="app-container">
  <div class="app-image">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar
             class="app-cardHeader"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Refresh</button>
        <button mat-button>Refresh full</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="app-image">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar
             class="app-cardHeader"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Refresh</button>
        <button mat-button>Refresh full</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div class="app-image">
    <mat-card appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar
             class="app-cardHeader"></div>
        <mat-card-title>Shiba Inu</mat-card-title>
        <mat-card-subtitle>Dog Breed</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://material.angular.io/assets/img/examples/shiba2.jpg"
           alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>Refresh thumbnail</button>
        <button mat-button>Refresh full</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
